In [151]:
import csv

In [189]:
'''
traceroute output explanation
https://www.keycdn.com/support/traceroute-command
'''

'\ntraceroute output explanation\nhttps://www.keycdn.com/support/traceroute-command\n'

In [152]:
submissions_raw = []
with open('Trace-route Survey (Responses) - Form Responses 1.csv', newline='') as csvfile:
    csv_reader = csv.reader(csvfile, delimiter=',')
    for row in csv_reader:
        submissions_raw.append(row)
submissions_raw[0]

['Timestamp',
 'Email Address',
 'Score',
 'Please run the following link using your IP provided from the previous question and copy and paste all of your responses below (through the last country or city listed). https://tools.keycdn.com/traceroute ',
 'Who is your Internet Service Provider (i.e. Verizon, Comcast, AT&T)?',
 'Please run the following link and enter your ISP and IP address below. These will both be displayed in the top left hand corner of the webpage. https://www.whatismyip.com/',
 'What is your zip code? ',
 'What time zone do you live in?',
 'What type of area do you live in?',
 'Please run the following link and enter your ISP and IP address below. These will both be displayed in the top left hand corner of the webpage. https://www.whatismyip.com/']

In [153]:
traceroute_data_raw = []
for submission_raw in submissions_raw:
    traceroute_data_raw.append(submission_raw[3])

In [154]:
import pandas as pd

In [155]:
 cities = ['Frankfurt', 'New York', 'Miami', 'Dallas', 'San Francisco', 'Seattle', 'Toronto', 'London', 'Paris', 'Amsterdam', 'Singapore', 'Sydney', 'Tokyo', 'Bangalore']

In [195]:
columns = ['IP', 'Loss', 'Snt', 'Last', 'Avg', 'Best', 'Wrst', 'StDev', 'time', 'order']

In [196]:
import numpy as np

In [222]:
def append_to_routes_df(traceroutes, routes_df):
    city_chunks = traceroutes.split('Start')[1:]
    for j, route in enumerate(city_chunks):
        route_lines = route.split('\n')
        time = route_lines[0].split()[1]
        route_df = pd.DataFrame(columns=columns)
        lines = route_lines[2:]
        city_route = [line.split()[1:] for line in lines]
        for i, line in enumerate(city_route):
            if len(line) > 1:
                try:
                    line.append(time)
                    line.append(i) # i is order
                    route_df.loc[i] = line
                except Exception as e:
                    print (e) 
                    print (line)
        routes_df = routes_df.append(route_df)
    return routes_df

In [232]:
routes_df = pd.DataFrame(columns=columns)
for traceroutes in traceroute_data_raw:
    try:
        routes_df = append_to_routes_df(traceroutes, routes_df)
        print ('handled')
    except Exception as e:
        print ('Cannot Handle')
        print (e)

handled
handled
handled
handled
handled
handled
cannot set a row with mismatched columns
['???', '100.0', '4', '0.0', '0.0', '2020-04-14T01:48:11+0000', 13]
handled
handled
handled
handled
handled
handled
handled
handled
handled
handled
handled
handled
cannot set a row with mismatched columns
['98.184.206.232', '25.0%', '2020-04-15T06:58:50+0000', 15]
handled
handled
handled
cannot set a row with mismatched columns
['???', '0.', '2020-04-16T20:16:24+0000', 22]
handled
handled
handled

In [233]:
routes_df.to_csv('routes_df.csv', index=False)

In [236]:
IP_list = list(set(routes_df.IP))

In [237]:
str(len(IP_list))+ ' unique IPs out of ' + str(len(routes_df.IP))

'942 unique IPs out of 4138'

In [235]:
"""
sample response for ipapi
{
"ip" : "8.8.8.8"
"city" : "Mountain View"
"region" : "California"
"region_code" : "CA"
"country_code" : "US"
"country_code_iso3" : "USA"
"country_name" : "United States"
"country_capital" : "Washington"
"country_tld" : ".us"
"continent_code" : "NA"
"in_eu" : false
"postal" : "94035"
"latitude" : 37.386
"longitude" : -122.0838
"timezone" : "America/Los_Angeles"
"utc_offset" : "-0700"
"country_calling_code" : "+1"
"currency" : "USD"
"currency_name" : "Dollar"
"languages" : "en-US,es-US,haw"
"asn" : AS15169
"org" : "Google LLC"
}

sample response for ip-api

{'status': 'success',
 'country': 'United States',
 'countryCode': 'US',
 'region': 'NY',
 'regionName': 'New York',
 'city': 'New York',
 'zip': '10123',
 'lat': 40.7128,
 'lon': -74.006,
 'timezone': 'America/New_York',
 'isp': 'Level 3 Communications, Inc.',
 'org': 'Level 3, LLC',
 'as': 'AS3356 Level 3 Parent, LLC',
 'query': '2001:1900:4:3::69e'}
"""

"\nsample response for ipapi\n\n{'status': 'success',\n 'country': 'United States',\n 'countryCode': 'US',\n 'region': 'NY',\n 'regionName': 'New York',\n 'city': 'New York',\n 'zip': '10123',\n 'lat': 40.7128,\n 'lon': -74.006,\n 'timezone': 'America/New_York',\n 'isp': 'Level 3 Communications, Inc.',\n 'org': 'Level 3, LLC',\n 'as': 'AS3356 Level 3 Parent, LLC',\n 'query': '2001:1900:4:3::69e'}\n\nsample response for ip-api\n\n{'status': 'success',\n 'country': 'United States',\n 'countryCode': 'US',\n 'region': 'NY',\n 'regionName': 'New York',\n 'city': 'New York',\n 'zip': '10123',\n 'lat': 40.7128,\n 'lon': -74.006,\n 'timezone': 'America/New_York',\n 'isp': 'Level 3 Communications, Inc.',\n 'org': 'Level 3, LLC',\n 'as': 'AS3356 Level 3 Parent, LLC',\n 'query': '2001:1900:4:3::69e'}\n"

In [240]:
import requests

In [241]:
IP = '2001:1900:4:3::69e'
response = requests.get('http://ip-api.com/json/'+IP)
response.json()

{'status': 'success',
 'country': 'United States',
 'countryCode': 'US',
 'region': 'NY',
 'regionName': 'New York',
 'city': 'New York',
 'zip': '10123',
 'lat': 40.7128,
 'lon': -74.006,
 'timezone': 'America/New_York',
 'isp': 'Level 3 Communications, Inc.',
 'org': 'Level 3, LLC',
 'as': 'AS3356 Level 3 Parent, LLC',
 'query': '2001:1900:4:3::69e'}

In [243]:
sample_data = {
"ip" : "8.8.8.8"
"city" : "Mountain View"
"region" : "California"
"region_code" : "CA"
"country_code" : "US"
"country_code_iso3" : "USA"
"country_name" : "United States"
"country_capital" : "Washington"
"country_tld" : ".us"
"continent_code" : "NA"
"in_eu" : false
"postal" : "94035"
"latitude" : 37.386
"longitude" : -122.0838
"timezone" : "America/Los_Angeles"
"utc_offset" : "-0700"
"country_calling_code" : "+1"
"currency" : "USD"
"currency_name" : "Dollar"
"languages" : "en-US,es-US,haw"
"asn" : AS15169
"org" : "Google LLC"
}
# ipapi

SyntaxError: invalid syntax (<ipython-input-243-2087828aac01>, line 3)

In [258]:
import json
import time

In [259]:
IP = '2001:1900:4:3::69e'
response = requests.get('https://ipapi.co/'+str(IP)+'/json/')
response.json()

{'ip': '2001:1900:4:3::69e',
 'city': 'New York',
 'region': 'New York',
 'region_code': 'NY',
 'country': 'US',
 'country_code': 'US',
 'country_code_iso3': 'USA',
 'country_capital': 'Washington',
 'country_tld': '.us',
 'country_name': 'United States',
 'continent_code': 'NA',
 'in_eu': False,
 'postal': '10003',
 'latitude': 40.7359,
 'longitude': -73.9904,
 'timezone': 'America/New_York',
 'utc_offset': '-0400',
 'country_calling_code': '+1',
 'currency': 'USD',
 'currency_name': 'Dollar',
 'languages': 'en-US,es-US,haw,fr',
 'country_area': 9629091.0,
 'country_population': 310232863.0,
 'asn': 'AS3356',
 'org': 'LEVEL3'}

In [272]:
IP_df = pd.DataFrame()

In [274]:
"""
This would be so cool and we should do it but they keep rate limiting me 
otherwise it should work
I have switched to 3 different api's and they keep rate limiting so idk what to do
"""
for IP in IP_list:
    try:
#         response = requests.get('https://ipapi.co/'+str(IP)+'/json/')
        response = requests.get('http://ip-api.com/json/'+str(IP))
    # using ip-api because ipapi makes us sign up to get some zip codes and coordinates
        status_code = response.status_code
        if status_code == 429:
            print ("Rate limited")
            break
        if status_code == 200:
            body = response.json()
            IP_df = IP_df.append(body, ignore_index=True)
        else:
            print ('got status code '+str(status_code)+' on '+str(IP))
        time.sleep(2)
    except Exception as e:
        print (e)

In [323]:
IP_df[:10]

,as,city,country,countryCode,isp,lat,lon,org,query,region,regionName,status,timezone,zip,message
0,AS6453 TATA COMMUNICATIONS (AMERICA) INC,New York,United States,US,TATA COMMUNICATIONS (AMERICA) INC,40.7414,-74.00320,Tata Communications Ltd,63.243.216.22,NY,New York,success,America/New_York,10011,NaN
1,"AS2914 NTT America, Inc.",Chicago,United States,US,"NTT America, Inc.",41.8781,-87.62980,"NTT America, Inc.",199.245.16.65,IL,Illinois,success,America/Chicago,60666,NaN
2,AS6939 Hurricane Electric LLC,San Jose,United States,US,Hurricane Electric LLC,37.2414,-121.78300,Hurricane Electric,2001:470:0:410::2,CA,California,success,America/Los_Angeles,95119,NaN
3,"AS2914 NTT America, Inc.",Frankfurt am Main,Germany,DE,"NTT America, Inc.",50.1109,8.68213,"NTT America, Inc.",2001:418:0:2000::222,HE,Hesse,success,Europe/Berlin,60313,NaN
4,"AS7922 Comcast Cable Communications, LLC",Chicago,United States,US,"Comcast Cable Communications, LLC",41.8528,-87.62280,"Comcast Cable Communications, Inc.",68.86.94.250,IL,Illinois,success,America/Chicago,60616,NaN
5,AS6939 Hurricane Electric LLC,San Jose,United States,US,Hurricane Electric LLC,37.2414,-121.78300,Hurricane Electric,2001:470:0:1e4::2,CA,California,success,America/Los_Angeles,95119,NaN
6,AS1299,Toronto,Canada,CA,Telia Company AB,43.6532,-79.38320,Telia Company AB,62.115.116.180,ON,Ontario,success,America/Toronto,M5H,NaN
7,AS1299,Frankfurt am Main,Germany,DE,Telia Company AB,50.1109,8.68213,Telia Company AB,62.115.114.90,HE,Hesse,success,Europe/Berlin,60313,NaN
8,"AS63949 Linode, LLC",Dallas,United States,US,"Linode, LLC",32.7787,-96.82170,Linode,45.79.12.2,TX,Texas,success,America/Chicago,75270,NaN
9,"AS7922 Comcast Cable Communications, LLC",Ashburn,United States,US,"Comcast Cable Communications, LLC",39.0438,-77.48740,"Comcast IP Services, L.L.C.",96.110.38.129,VA,Virginia,success,America/New_York,20149,NaN

In [328]:
IP_df['as'][:10]

0    AS6453 TATA COMMUNICATIONS (AMERICA) INC
1                    AS2914 NTT America, Inc.
2               AS6939 Hurricane Electric LLC
3                    AS2914 NTT America, Inc.
4    AS7922 Comcast Cable Communications, LLC
5               AS6939 Hurricane Electric LLC
6                                      AS1299
7                                      AS1299
8                         AS63949 Linode, LLC
9    AS7922 Comcast Cable Communications, LLC
Name: as, dtype: object

In [329]:
NA = [None, '', [], 'NaN', 'nan']
IP_df['asn'] = IP_df['as'].apply(lambda val : str(val).split()[0] if val not in NA else None)

In [330]:
'''
If status is failed then it is in a private range
'''

'\nIf status is failed then it is in a private range\n'

In [331]:
IP_df = IP_df.rename(columns={'query' : 'IP'})
IP_df[:10]

,as,city,country,countryCode,isp,lat,lon,org,IP,region,regionName,status,timezone,zip,message,asn
0,AS6453 TATA COMMUNICATIONS (AMERICA) INC,New York,United States,US,TATA COMMUNICATIONS (AMERICA) INC,40.7414,-74.00320,Tata Communications Ltd,63.243.216.22,NY,New York,success,America/New_York,10011,NaN,AS6453
1,"AS2914 NTT America, Inc.",Chicago,United States,US,"NTT America, Inc.",41.8781,-87.62980,"NTT America, Inc.",199.245.16.65,IL,Illinois,success,America/Chicago,60666,NaN,AS2914
2,AS6939 Hurricane Electric LLC,San Jose,United States,US,Hurricane Electric LLC,37.2414,-121.78300,Hurricane Electric,2001:470:0:410::2,CA,California,success,America/Los_Angeles,95119,NaN,AS6939
3,"AS2914 NTT America, Inc.",Frankfurt am Main,Germany,DE,"NTT America, Inc.",50.1109,8.68213,"NTT America, Inc.",2001:418:0:2000::222,HE,Hesse,success,Europe/Berlin,60313,NaN,AS2914
4,"AS7922 Comcast Cable Communications, LLC",Chicago,United States,US,"Comcast Cable Communications, LLC",41.8528,-87.62280,"Comcast Cable Communications, Inc.",68.86.94.250,IL,Illinois,success,America/Chicago,60616,NaN,AS7922
5,AS6939 Hurricane Electric LLC,San Jose,United States,US,Hurricane Electric LLC,37.2414,-121.78300,Hurricane Electric,2001:470:0:1e4::2,CA,California,success,America/Los_Angeles,95119,NaN,AS6939
6,AS1299,Toronto,Canada,CA,Telia Company AB,43.6532,-79.38320,Telia Company AB,62.115.116.180,ON,Ontario,success,America/Toronto,M5H,NaN,AS1299
7,AS1299,Frankfurt am Main,Germany,DE,Telia Company AB,50.1109,8.68213,Telia Company AB,62.115.114.90,HE,Hesse,success,Europe/Berlin,60313,NaN,AS1299
8,"AS63949 Linode, LLC",Dallas,United States,US,"Linode, LLC",32.7787,-96.82170,Linode,45.79.12.2,TX,Texas,success,America/Chicago,75270,NaN,AS63949
9,"AS7922 Comcast Cable Communications, LLC",Ashburn,United States,US,"Comcast Cable Communications, LLC",39.0438,-77.48740,"Comcast IP Services, L.L.C.",96.110.38.129,VA,Virginia,success,America/New_York,20149,NaN,AS7922

In [332]:
IP_df.to_csv("IP_df.csv",index=False)